.Card {
    display: grid;
    grid-template-columns: 550px 1fr;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 0;
    color: #9EC8B9;
}

.Card img {
    width: 500px;
    border-radius: 10px;
}

.Card > div:nth-child(2) {
    position: relative;
}

.Card > div:nth-child(2) > * {
    margin-bottom: 20px;
}

.Card .title {
    background-color:  #9EC8B9;;
    color: #092635;
    width: fit-content;
    padding: .7rem 1rem;
    border-radius: 10px;
}

.Card .description {
    line-height: 1.6;
}


@media (max-width: 1250px) {


    .Card {
        grid-template-columns: min(500px, 70vw);
    }

    .Card img {
        width: min(500px, 70vw);
    }

    .Card .title {
        margin-top: 20px;
        font-size: 1em;
    }

    .Card .description {
        font-size: .8em;
    }

}